@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Best Videos Games of the 2020s</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This Razor Syntax page will be a simple list of all of the best video games that have came out during the 2020s. The main reason why I choose this as my theme is because of my interst in video games. I have been intersted in video games since I was little and it has been one
    of my main hobbies ever since. I also wanted to make a list of all the best video games I've played that came out in the 2020s so that I can track down the best videos 
    that came out this decade, and so that I can have a "best of (decade) list at the end of the year. I choose this as my topic to build a Razor Syntax page out of because
    of a passion and in order to have a strcutured, ordered list of all the best games that came out during the 2020s." </p>

    <p>Programmed by Christian D'Antonio</p>
    <a href="https://github.com/Christian-DAntonio/WEB315_ASPDOTNET_Assignments_F22">Github Repository</a>
</div>
